<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
		   org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
		   com.mysql.jdbc.Driver
		</property>
		
		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
		   jdbc:mysql://localhost:3306/postingdb?createDatabaseIfNotExist=true
		</property>
		
		<property name="hibernate.connection.username">
		   rootir
		</property>
		<property name="hibernate.connection.password">
		   rootir
		</property>
		<property name="hbm2ddl.auto">update</property>
<!-- 		<property name="hibernate.current_session_context_class">jta</property> -->
<!-- 		<property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property> -->
<!-- 		<property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property> -->
		<!-- List of XML mapping files -->
		<!-- <mapping resource="il/ac/shenkar/todolist/models/Task.hbm.xml"/> -->
		<mapping class="com.shenkar.ir.entities.User" />

	</session-factory>
</hibernate-configuration>
